h1 {
    text-align: center;
}

.disclaimer, p {
    color: rgba(255, 0, 0, 0.565);
}

.box1 {
    background-color: rgba(251, 245, 245, 0.99);
    border: 4px solid rgb(167, 166, 166);
    margin: 10px;
}


h2 {
    padding: 12px;
    margin-bottom: -15px;
    margin-top: -5px;
}


.box2 {
    margin: 0 auto;
    text-align: center;
    background-color: rgba(249, 223, 223, 0.675);
    border: 2px dotted red;
    margin: 10px;
}